<!DOCTYPE html>
<html>
  <head>
    <title>WebCampBackendNew</title>
    <meta name="csrf-param" content="authenticity_token" />
　　<meta name="csrf-token" content="elw0lD/A3tldDSmVDrdVazdvZl300NsUyPO+Y/6io7WDbbSksBOJqPphr/nR71YowNVUA4yH2V9YMP0WbNqy0w==" />
    <link rel="stylesheet" media="all" href="/assets/application-d12397cbc3a266ce5a99f7b588223090c55ca04a439953bb5f9304395de93fc3.css" data-turbolinks-track="reload" />
    <script src="/assets/application-114264dd93c8ff30e4335b71eed7949d66c4e7a8eb62e2de6284c046fe07104b.js" data-turbolinks-track="reload"></script>
  </head>

  <body>
    <% if @book.errors.any? %>
      <%= @book.errors.count %> error prohibited this book from being saved:
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <h1>Editing Book</h1>
      <%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>
    <h4>Title</h4>
      <%= f.text_field :title %>
      
    <h4>Body</h4>
      <%= f.text_area :body %>
    <p>  
      <%= f.submit 'Update Book' %>
    </p>  
    <% end %>

    <%= link_to "Show", book_path(@book.id) %>
    <%= link_to "Back", books_path %>

  </body>
</html>